@model IEnumerable<ItLabs.MyRecipes.Domain.Recipe>

@{
    ViewBag.Title = "Index";
}

<h3>My Recipes</h3>
<div>
    <table class="table">
        <tr>
            <th id="name">
                Recipe Name

            </th>

            <th id="checkBox">
                Done Recipes

            </th>
            <th id="checkBox">
                Favorites Recipes

            </th>
            <th></th>
            <th></th>
            @*<th>
                Details For The Recipe
            </th>*@
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a data-details-id="@item.Id" data-details-href="@Url.Action("Details", new { id=item.Id})">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Done)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Favorites)
                </td>
                <td>
                    <a href='@Url.Action("Remove", new { id=item.Id })'>
                        <img src='@Url.Content("~/Photos/IconDelete.png")'/>
                    </a>
                </td>
                <td  id="ShowDetails-@item.Id">
                    <hr class="vertical" />
                </td>
            </tr>
        }
    </table>

   
</div>