@using PagedList.Mvc;
@model PagedList.IPagedList<ItLabs.MyRecipes.Domain.Recipe>

@{
    ViewBag.Title = "Search";
}

@*<h2>Search</h2>*@


<div class="container text-center">
    <hr />

    <div class="row">
        <div id="hederNav" class="container text-left col-sm-6">


            <div class="col-sm-6">

                <p><b>Recipe Name</b></p>
            </div>
            <div class="col-sm-2">

                <p><b>Done Recipes</b></p>
            </div>
            <div class="col-sm-2">

                <p><b>Favorites Recipes</b></p>
            </div>
            <div class="col-sm-2">

                @*<p>Delete</p>*@
            </div>
            @foreach (var item in Model)
            {
                <div class="container text-left">
                    <div class="col-sm-6">

                        <a data-details-id="@item.Id" data-details-href="@Url.Action("Details", new { id=item.Id})">@Html.DisplayFor(modelItem => item.Name)</a>

                    </div>
                    <div class="col-sm-2">

                        @Html.DisplayFor(modelItem => item.Done)
                    </div>
                    <div class="col-sm-2">

                        @Html.DisplayFor(modelItem => item.Favorites)
                    </div>
                    <div class="col-sm-2">
                        <a href='@Url.Action("Remove", new { id = item.Id })'>
                            <img src='@Url.Content("~/Photos/IconDelete.png")' />
                        </a>
                    </div>

                </div>
                <hr />
            }

        </div>
        <br />
        <br />

        <div class="col-sm-6 container text-left" id="ShowDetails-">

        </div>


    </div>
</div><br>
<div class="pager">
    @* Page @Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>